body{
    background-image: url("../images/1019.png");
    background-repeat: repeat;
}

.lookNice{
    border-color: black;
    border:solid;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.3);
}

.coolForm{
    border: solid;
    border-color: rgba(10, 10, 10, 0.3);
}

.customButton{
    padding: 2px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 2px;
}

h2{
    text-align: center;
}
.imgDiv{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}